<div class="componentTitle">
  <h1>Retail Rewards Program</h1>
</div>

<p *ngIf="!users"><em>Loading...</em></p>

<div *ngIf="users" >
  <ul *ngFor="let user of users" >
    <li class="listItem">
      <div class="listItemTitle">
        <h3 >{{ user.name }}</h3>
      </div>
      <div>
        <div class="listItemGeneralInfo">
          <p>Phone # {{ user.phoneNumber }}</p>
          <p>Reward Points: <span class="listItemPoints">{{user.points}}</span></p>
        </div>
        <div class="listItemTransactions">
          <h3><b>Transactions</b></h3>
          <ul>
            <li *ngFor="let purchase of user.purchaseHistory">
              <p>{{purchase.monthDate |  date:'fullDate'}}</p>
              <p>{{purchase.productName}}</p>
              <p>Points: {{rewardsService.calculateMonthlyRewardPoints(purchase.cost)}}</p>
              <p>{{purchase.cost | currency:'USD':'symbol':'1.2-2'}}</p>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
